---
cloud_init_vm_image_url: https://download.fedoraproject.org/pub/fedora/linux/releases/32/Cloud/x86_64/images/Fedora-Cloud-Base-32-1.6.x86_64.raw.xz
expand_os_disk: 'no'
qcow_generic_release: 32-1.6
generic_hash: null
generic_release: 32-1.6
generic_server_vm:
  generic_enable: true
  generic_extra_storage:
  - enable: false
    size: ''
  generic_group: generic
  generic_memory: 800
  generic_name: 'genericbox-1'
  generic_recreate: false
  generic_root_disk_size: 20G
  generic_teardown: false
  generic_vcpu: 1
update_etc_resolv: 'no'
vm_root_disk_size: '{{ generic_server_vm.generic_root_disk_size }}'